
body {
    font-family: 'Titillium Web', sans-serif;
}

.tit {
    font-size: 40px;
    color: rgb(53, 56, 50);
}
.tit:hover {
    color:rgb(92, 77, 59);
    text-decoration: none;
}



.titulo {
    font-size: 40px;
    font-weight: 600;
    line-height:60px;
    color:rgb(66, 92, 83);
}

p {
  font-size: 20px;
  color:rgb(129, 122, 112); 
  line-height: 1.8; 
  margin-bottom: 0;
}

.topmargin-lg { margin-top: 15px; }
.topmargin-lg { margin-top: 30px; }
.topmargin-lg { margin-top: 60px; }

.navbar {
    background-color:rgb(142, 199, 156);
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, .05);
    min-height: 100px;
}

.nav-link {
    color: black;
    font-size: 20px;
}
.nav-link:hover {
    color: black
}

#hero {
    background-image: url('../img/home.jpg');
    background-size: cover;
    padding: 90px;
    min-height: 700px;
}


.content-center {
    max-width: 800px;
    margin: 150 auto 60px auto;
    text-align: center;
    font-size: 20px;
}

.portfolio-container {
    position: relative;
    overflow: hidden;
    margin: 10px o;
    border-radius: 2px;
}

.portfolio-details {
    position: absolute;
    bottom: 25px;
    left: 25px; 
    z-index: 9000;
}

.portfolio-details a h2, .portfolio-details a p {
    color: white;
}

.portfolio-detalis h2:hover {
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .tit {

     }
 }