{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,700&display=swap"
        rel="stylesheet">
    <title>Sallqa Pacha</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <div class="name">
            <a class="tit" href="#">SALLQA PACHA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="inicio">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app_acercade:boton_acercade' %}" id="quienessomos">QUIÉNES
                            SOMOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app_objetivosonu:boton_objetivosONU' %}" id="ods">ODS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app_nameforogeneral:boton_forogeneral' %}"
                            id="forogeneral">FORO GENERAL</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block contenido %}
    <main>
        <section id="hero">
            <div class="container">
                <div class="content-center topmargin-lg">
                <h1 class="titulo">EL FUTURO NO ES DESECHABLE</h1>
                    <p>Agenda 2030- Objetivos de Desarrollo Sostenible- ONU</p>
                </div>
            </div>
        </section>
        <section id="portfolio">
            <div class="container-fluid">
                <div class="content-center topmargin-lg">
                    <h2 class="flexbox">¿Qué se pretende con la Agenda 2030?</h2>
                    <p>La lucha contra la pobreza</p>
                    <p>El ciudado del planeta</p>
                    <p>La disminución delas desigualdades</p>

                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="portfolio-container">
                        <img src="../static/img/cuidarplaneta.jpg" class="img-fluid" alt="portfolio 1">
                        <img src="../static/img/pobreza.jpg" class="img-fluid" alt="portfolio 1">
                        <img src="../static/img/educacion.jpg" class="img-fluid" alt="portfolio 1">
                        <img src="../static/img/igualdad.jpg" class="img-fluid" alt="portfolio 1">
                        <img src="../static/img/ods.png"class="img-fluid" alt="portfolio 1">
                        <img src="../static/img/" 
                    </div>

                </div>
            </div>

        </section>
    </main>
    {% endblock contenido %}

    <footer class="container">
        <li>
            {% if user.is_authenticated %}
            <span>Bienvenido {{ user.username }}</span>
            <a href="{% url 'logout' %}">Cerrar Sesion</a> {% else %}
            <a href="{% url 'login' %}">Iniciar Sesión</a>
            <a href="{% url 'app_registrar:boton_registrar' %}">Registrarse</a> {% endif %}
        </li>
        <p>Proyecto Sallqa Pacha- Informatorio</p>
       
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
</body>

</html>